<style type="text/css">

* {
	padding:0px;
	margin:0px;
	-webkit-box-sizing:borde-box;
	-moz-box-sizing:borde-box;
	box-sizing:borde-box;
}	

header {
	margin:-top-50px;
	width: 100%;
	height: 150px;
	overflow: hidden;
	position: relative;
}

nav {
	top:-35px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 20px auto;
	max-width: 1000px;
	width: 100%;
}

nav ul{
	list-style:block;
}

/*BARRA DE MENU PRINCIPAL*/
/*CABECERA*/
nav > ul{
	display: table;
	width: 100%;
	background:  #808080;
	position: auto;
	
}

nav > ul li{
	display: table-cell;
}
/*////////Sub-Menu////////*/
nav > ul > li:hover > ul{
	display: block;
	height: 100%;
}

nav >ul > li > ul{
	display: block;
	position: absolute;
	background: #000;
	/*left: 0;*/
	right: 0;
	overflow: hidden;
	height: 0%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

nav > ul li a{
color: #FFF;
display: block;
line-height: 20px;
padding: 20px;
position: relative;
text-align: center;
/*text-decoration: none;*/
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;
}

nav > ul li a{
color: #fff;
display: block;
line-height: 20px;
padding: 20px;
position: relative;
text-align: center;
text-decoration: none;
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;
}

nav > ul > li > ul > li a:hover{
	background: #5da5a2;
}

nav > ul > li a span{
	background: #174459;
	display: block;
	height: 100%;
	width:100%;
	left: 0;
	position: absolute;
	top: -55px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
nav > ul > li a span .icon {
display: block;
line-height: 60px;
}

nav > ul > li > a:hover > span {
	top: 0;
}
/*color*/
nav ul li a .primero{
	background:#F47920;
}

/*nav ul li ul li span .primeros{
	background:#f75b12;
}*/

nav ul li a .segundo{
	background:#50B748;
}
nav ul li a .tercero{
	background:#F0B429;
}
nav ul li a .cuarto{
	background:#A54686;
}
nav ul li a .quinto{
	background:#43C7F4;
}



/*///////Boton Redes Sociales/////////*/
.social {
position: fixed;
left: 0;
top: 450px;
z-index: 1000;}

.social ul {
	list-style: none;}

.social ul li a {
display: inline-block;
color: #fff;
background: #000;
padding: 10px 15px;
text-decoration: none;
-webkit-transition:all 500ms;
-o-transition:all 500ms;
transition:all 500ms;
}

.social ul li .icon-facebook {background:#3b5998;}
.social ul li .icon-twitter {background:#00abf0;}
.social ul li .icon-instagram {background:#dd2a7b;}

.social ul li a:hover {
padding: 10px 30px;
background: #000;
}

</style>
